body {
  padding: 50px;
  padding-bottom: 500px;
  background-color: rgba(247, 245, 245, 0.8);
 
}

h1 {
  color: #333;

}

p {
  background-color: #999;
  padding: 10px;
}
li {
  list-style-type: none;
}